{% extends 'base.html' %}

{% block content %}

    {{ lunch.nickname }}
<table>
    {% for location in locations %}
     <tr> 
        <td>{{ location.restaurant_suggestions }}</td>
         <td>
             <form action="{% url 'tavern:vote' lunch.id %}" method="post">
                 {% csrf_token %}
                 <input type="hidden" name="location" value="{{ location.id }}">
                 <input type="submit" name="submit_button" value="Vote">
             </form>
         </td>
     </tr>
    {% endfor %}

</table>
{% endblock %}

{#add button to vote on lunch location#}