{% extends 'base.html' %}

{% block content %}
    <p>Which lunch group would you like to enter?</p>

    <table>
        {% for lunch in lunches %}
            <tr>
                <td>
                    <a href="{% url 'tavern:detail' lunch.id %}">{{ lunch.nickname }}
                    </a>
                </td>

                <td>(<em>Created by: {{ lunch.user }}</em>)</td>
                    <td>on {{ lunch.date }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}